<% if signed_in? %>

<% else %>
<section class="hero">
    <div class="hero-img">
      <%=image_tag 'smiling.jpg'%>
      <div class="hero-text">
        <h1>Register</h1>
        <%= link_to 'Sign up', signup_path, class: "button static-btn" %>
      </div>
    </div>
  </section>

  <section>

  </section>
  <% end %>