<!-- -------- RATINGS PAGE FOR INDIVIDUAL STUDENT ONLY ---------- -->
<div class="userId"><%= @student.id %></div>
<div class="student-dashboard col-md-12">
  <% if current_user.type == "Teacher" %>
    <h1>Character Strength Averages for <%= @student.first_name %> <%= @student.last_name %></h1>
  <% else %>
    <h1>My Character Strength Averages</h1>
  <% end %>
<%= link_to  %>

<section class="quarter-dashboard">

</section>

</div>




