<% if @student.ratings.length == 0 %>
  <div class="completed-view">
  <h2>You currently have no ratings.<br> Please complete this semester's grade report and check back.</h2>
  <%= link_to "Report Card", user_categories_path(@student), class:"button" %>
  </div>
<% else %>
  <% if @current_quarter == 1 %>
    <%= render :partial => 'quarter1' %>
  <% else %>
    <%= render :partial => 'quarter2' %>
  <% end %>
<% end %>
