<h1>Teacher Dashboard</h1>
<h2>Averages for all students in my grade</h2>
<% @categories.each do |category| %>
<ul>
  <li><%= category.content %>: <%= category_average_teachersstudents(category) %></li>
</ul>
<% end %>

