/* ------forms-------- */

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}*/
/*------------------------------------------------------------------------------------*/
/*-------------------DONIELLE CUSTOM STYLES----------------------------------------*/
$lime-green: #79a002;
$dirty-brown: #886A08;

body {
  font:300 1.8em 'Lato', sans-serif;
  color: #b1aea6;
  background: #fffcf5;
}
h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
}
h1, h2 {
  text-align: center;
}
.lime-text {
  color: $lime-green;
  font-weight: 400;
}
a, a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
hr {
  padding: 40px;
}
/*-----------------------STart off-canvas nav bar-----------------------*/

html, body { min-height: 100%; }

.main-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  a {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 32px;
    color: lighten($lime-green, 8%);
  }
  a.sign-in {
    font-size: 20px;
  }
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: lighten($lime-green, 8%);
  overflow-y: auto;
  transition: width 0.3s ease;
  img.gravatar {
    display: block;
    margin: 10px auto;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid #FFF;
      a {
        padding: 20px;
      }
    }
    li.user_name {
      color: #fff;
      text-align: center;
      font-size: 2em;
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
    .icon {
      float: left;
      margin-right: 10px;
    }
  }
  a {
    display: block;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: $lime-green;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: $lime-green;
  }
}

.content {
  padding: 10%;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 25%;
  z-index: 9999px;
}
#main-nav:target + .page-wrap {
  width: 75%;
  padding: 0;
  .open-menu {
     display: none;
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 75%;
    left: 25%;
  }
}
/*-----------------------end off-canvas nav bar-----------------------*/


.page-heading {
  text-align: center;
}
.hero {
  img {
    width: 100%;
  }
}




/*----------------GRADING------------------------*/
.char_strength_rows {
  li {
    padding:10px;
  }
  li:nth-child(odd) {
    background:rgba(0,0,0,0.1);
  }
}

.rating_radio_buttons {
  float:right;
  li {
    display:inline-block;
  }
  li:nth-child(odd) {
    background:transparent;
  }
}


/*----RAW data tables for student's character strength data-----------*/

.char-strength-td {
  width: 50%;
}

.rater-name {
  visibility: hidden;
}

/* --------------MISC--------------------------- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
.gravatar {
  width:80px;
  height:80px;
  border-radius:50%;
  border: 3px solid #fff;
}
.button {
  width: 20%;
  padding: 10px;
  border: 2px lighten($lime-green, 8%) solid;
  transition: border 0.5s ease;
  color: $lime-green;
  background: transparent;
  &:hover, &:focus {
    border: 2px $dirty-brown solid;
    color: $dirty-brown;
  }
}
.button.report-card-button {
  display: block;
  margin: 30px auto;
  width: 30%;
}
.button.signup-button {
  width: 60%;
}

/*----GETTING VALUE FOR Morris JS data only*/
.userId {
  display:none;
}






