@import "font-awesome";

/*-------------------DONIELLE CUSTOM STYLES----------------------------------------*/
$lime-green: #79a002;
$dirty-brown: #886A08;
$light-blue: rgb(135, 206, 235);
$grey: #b1aea6;
$light-grey: lighten($grey, 20%);

body {
  font:300 1.8em 'Lato', sans-serif;
  color: $grey;
  background: #fffcf5;
}
h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
  color: darken($grey, 10%);
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 3em;
  font-weight: 600;
}
a, a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
hr {
  border-top: 1px lighten($grey, 10%) solid;
  clear: both;
}
.hr-hidden {
  border: none;
}
.content {
  padding: 7% 10%;
}

/*--------------------static page------------------*/
.static-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  a {
    font-size: 20px;
    color: lighten($lime-green, 8%);
  }
  .static-sign-in {
    position: absolute;
    right: 40px;
    top: 20px;
  }
}
.hero-img {
  width: 100%;
  height: 500px;
  position: relative;
  overflow:hidden;
  img {
    top: 0;
    left: 0;
    width: 100%;
  }
  img.science {
    bottom: 0;
  }
}
.hero-text {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background: lighten($lime-green, 10%);
  padding: 20px;
  z-index: 99999;
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .button.register-btn   {
    border: 2px #fff solid;
    width: 80%;
    &:hover, &:focus {
    border: 2px $dirty-brown solid;
    color: $dirty-brown;
  }
  }
  a {
    color: #fff;
  }
}
.static-icon-group {
  margin-top: 50px;
  text-align: center;
}
.static-icon {
  width: 150px;
  height: 150px;
  background: lighten($light-blue, 8%);
  border: 1px #fff solid;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.below-hero {
  h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: darken($grey, 10%);
  }
  .welcome-h1 {
    padding-top: 10%;
    padding-bottom: 0;
  }
  .quote {
    border: 1px $light-grey solid;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: $grey;
    color: #fff;
  }
  .static-char-strengths div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}



/*-------------------real app------------------*/
/*-----------------------STart off-canvas nav bar-----------------------*/

html, body { height: 100%; }

body#quarter1 a#quarter1,
body#quarter2 a#quarter2,
body#cumulative a#cumulative,
body#dash_quarter1 a#dash_quarter1,
body#dash_quarter2 a#dash_quarter2,
body#dash_cumulative a#dash_cumulative {
  background: lighten($lime-green, 10%);
  color: #fff;
  border: none;
}

.main-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  a {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 32px;
    color: lighten($lime-green, 8%);
  }
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: lighten($lime-green, 8%);
  overflow-y: auto;
  transition: width 0.3s ease;
  img.gravatar {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid #FFF;
      a {
        padding: 20px;
      }
    }
    li.user_name {
      color: #fff;
      text-align: center;
      font-size: 2em;
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
    .icon {
      float: left;
      margin-right: 10px;
    }
  }
  a {
    display: block;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: $lime-green;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: $lime-green;
  }
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 25%;
  z-index: 9999px;
}
#main-nav:target + .page-wrap {
  width: 75%;
  padding: 0;
  .open-menu {
     display: none;
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 75%;
    left: 25%;
  }
  .content {
    padding: 10% 2%;
  }
}
/*-----------------------end off-canvas nav bar-----------------------*/

.user-show {
  img.gravatar {
    display: block;
    margin: 10px auto;
  }
}
.edit-prof {
  padding-top: 8%;
}



/*----------------GRADING------------------------*/

.alert {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}
.completed-view {
  text-align: center;
  h2 {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.page-heading {
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-bottom: 10px;
  }
}

.radio-button-section {
  float: right;
}
.radio-button-section li {
  display: inline-block;
  padding: 10px;
}
.radio-button-section,
.raw-data-row,
.char_strength_rows {
  margin: 0;
  padding: 0;
}

.char_strength_rows {
  li.char_strength_row {
    padding:10px;
  }
  li.char_strength_row:nth-child(odd) {
    background:rgba(0,0,0,0.1);
  }
}


/*----RATINGS INDEX PAGE-----------*/

.ratings-overview {
  h3 {
    font-weight: 600;
    font-size: 1.7em;
    color: lighten($lime-green, 10%);
  }
}
.ratings-overview-mobile {
  display: none;
}
.overview-left {
  float: left;
  margin-left: 50px;
  text-align: left;
}
.overview-right {
  float: right;
  margin-right: 50px;
  text-align: right;
}

.cumulative-grade {
  font-size: 2.3em;
  font-weight: 700;
  color: lighten($lime-green, 10%);
  vertical-align: middle;
}
.star {
  font-size: .5em;
  color: $grey;
}

.footable {
  background: #fff;
}
.category-icon {
  margin-right: 10px;
}
.category-row {
  background: $grey;
  color: #fff;
}
.knobs {
  text-align: center;
}

/* --------------MISC--------------------------- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
.gravatar {
  width:80px;
  height:80px;
  border-radius:50%;
  border: 4px solid #fff;
}
.button {
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 2px lighten($lime-green, 8%) solid;
  transition: border 0.5s ease;
  color: $lime-green;
  background: transparent;
  &:hover, &:focus {
    border: 2px $dirty-brown solid;
    color: $dirty-brown;
  }
}

.button.static-btn {
  padding: 5px 40px;
}
.quarter-btn-group {
  padding: 30px;
  text-align: center;
  .button {
    margin: 0 20px;
    padding: 10px 40px;
  }
}
.mobile-quarter-links, .hero-text-mobile {
  display: none;
}

/*----GETTING VALUE FOR Morris JS data only*/
.userId, .currentQuarter, .rater-name, .sign-in {
  display:none;
}


/*.sticky-footer-wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}*/
#footer {
/*  margin-top: 60px;
  padding-top: 5px;*/
/*  background: darken($grey, 50%);*/
  height: 80px;
  p {
    color: #fff;
  }
}


/*-----------------RESPONSIVE--------------*/
@media screen and (max-width:1024px) {
  .user-show {
    padding-top:10%;
  }
  .quarter-btn-group {
    padding: 10px;
    text-align: center;
    .button {
      margin: 0 10px;
      padding: 10px 20px;
    }
  }
}
@media screen and (max-width:675px) {
  .quarter-btn-group {
    display: none;
    padding: 0;
    .button {
      margin: 0;
      padding: 0;
    }
  }
  .mobile-quarter-links {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width:480px) {
  h1, h3,
  .below-hero h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: darken($grey, 10%);
  }
  h3.logo {
    font-size: 1em;
  }
  .carousel {
    display: none;
  }
  .hero-text-mobile {
    display: block;
  }
  .static-btn {
    display: none;
  }
  .below-hero .welcome-h1,
  .page-heading h1 {
    padding-top: 17%;
  }
  .page-heading h2 {
    font-size: 1em;
  }
  .user-show {
    padding-top:21%;
  }

  #main-nav:target {
    width: 75%;
    z-index: 9999px;
  }
  #main-nav:target + .page-wrap {
    width: 25%;
    padding: 0;
    .open-menu {
       display: none;
    }
    .close-menu {
       display: block;
    }
    .main-header {
      width: 25%;
      left: 75%;
      .logo {
        display: none;
      }
      h3 {
        color: #fff;
      }
    }
    .content {
      padding: 10% 2%;
    }
  }
  .completed-view h2 {
    padding-bottom: 20px;
    padding-top: 20%;
  }
  .radio-button-section {
    float: none;
  }
  .char_strength_row li {
    display: inline-block;
  }
  .char_strength_row {
    border: 1px #ccc solid;
  }
  .quarter-btn-group {
    display: none;
  }
  .ratings-overview {
    display: none;
  }
  .ratings-overview-mobile {
    display: block;
    margin: 0;
    padding: 0;
    .overview-left {
      float: none;
      margin-left: 0;
      text-align: center;
    }
  }
  .content {
    padding: 5%;
  }
  .hero-text-mobile .button {
    display: block;
    margin: 10px auto;
  }

}


