@import "font-awesome";

/*-------------------DONIELLE CUSTOM STYLES----------------------------------------*/
$lime-green: #79a002;
$dirty-brown: #886A08;
$light-blue: rgb(135, 206, 235);
$grey: #b1aea6;
$light-grey: lighten($grey, 20%);

body {
  font:300 1.8em 'Lato', sans-serif;
  color: $grey;
  background: #fffcf5;
}
h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
  color: darken($grey, 10%);
}

h1 {
  text-align: center;
  margin: 40px 0;
}
a, a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
.content {
  padding: 10%;
}

/*--------------------static page------------------*/
.static-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  a {
    font-size: 20px;
    color: lighten($lime-green, 8%);
  }
  .static-sign-in {
    position: absolute;
    right: 40px;
    top: 20px;
  }
}
.hero-img {
  width: 100%;
  height: 500px;
  position: relative;
  overflow:hidden;
  img {
    top: 0;
    left: 0;
    width: 100%;
  }
  img.science {
    bottom: 0;
  }
}
.hero-text {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background: lighten($lime-green, 10%);
  padding: 20px;
  z-index: 99999;
  h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .button.register-btn   {
    border: 2px #fff solid;
    width: 80%;
    &:hover, &:focus {
    border: 2px $dirty-brown solid;
    color: $dirty-brown;
  }
  }
  a {
    color: #fff;
  }
}
.static-icon-group {
  margin-top: 50px;
  text-align: center;
}
.static-icon {
  width: 150px;
  height: 150px;
  background: lighten($light-blue, 8%);
  border: 1px #fff solid;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.below-hero {
  h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: darken($grey, 10%);
  }
  .quote {
    border: 1px $light-grey solid;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: $grey;
    color: #fff;
  }
}



/*-------------------real app------------------*/
/*-----------------------STart off-canvas nav bar-----------------------*/

html, body { min-height: 100%; }

body#quarter1 a#quarter1,
body#quarter2 a#quarter2,
body#cumulative a#cumulative {
  background: lighten($lime-green, 8%);
  color: #fff;
  border: none;
}

.main-header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  a {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 32px;
    color: lighten($lime-green, 8%);
  }
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: lighten($lime-green, 8%);
  overflow-y: auto;
  transition: width 0.3s ease;
  img.gravatar {
    display: block;
    margin: 10px auto;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid #FFF;
      a {
        padding: 20px;
      }
    }
    li.user_name {
      color: #fff;
      text-align: center;
      font-size: 2em;
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
    .icon {
      float: left;
      margin-right: 10px;
    }
  }
  a {
    display: block;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: $lime-green;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: $lime-green;
  }
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 25%;
  z-index: 9999px;
}
#main-nav:target + .page-wrap {
  width: 75%;
  padding: 0;
  .open-menu {
     display: none;
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 75%;
    left: 25%;
  }
  .content {
    padding: 10% 2%;
  }
}
/*-----------------------end off-canvas nav bar-----------------------*/

.user-show {
  img.gravatar {
    display: block;
    margin: 10px auto;
  }
}

/*-------------USERS INDEX ------------------*/



/*----------------GRADING------------------------*/
.char_strength_rows {
  li {
    padding:10px;
  }
  li:nth-child(odd) {
    background:rgba(0,0,0,0.1);
  }
}

.rating_radio_buttons {
  float:right;
  li {
    display:inline-block;
  }
  li:nth-child(odd) {
    background:transparent;
  }
}


/*----RATINGS INDEX PAGE-----------*/

.overview-header {
  background-color: #000;
  padding: 50px 0;
}

.cumulative-grade {
  font-size: 2.3em;
}

.footable {
  background: #fff;
}
.category-icon {
  margin-right: 10px;
}
.category-row {
  background: $grey;
  color: #fff;
}
.knobs {
  text-align: center;
}

/* --------------MISC--------------------------- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
.gravatar {
  width:80px;
  height:80px;
  border-radius:50%;
  border: 3px solid $lime-green;
}
.button {
  width: 20%;
  padding: 10px;
  text-align: center;
  border: 2px lighten($lime-green, 8%) solid;
  transition: border 0.5s ease;
  color: $lime-green;
  background: transparent;
  &:hover, &:focus {
    border: 2px $dirty-brown solid;
    color: $dirty-brown;
  }
}
.button.report-card-button {
  display: block;
  margin: 30px auto;
  width: 30%;
}
.button.signup-button {
  width: 60%;
  margin-bottom: 10px;
}
.button.edit-btn {
  display: block;
  margin: 30px auto;
  width: 50%;
}
.button.static-btn {
  padding: 5px 40px;
}
.quarter-btn-group {
  padding: 30px;
  text-align: center;
  .button {
    margin: 0 20px;
    padding: 10px 40px;
  }
/*  .button:hover {
    position: relative;
    top: -5px;
  }*/
}

/*----GETTING VALUE FOR Morris JS data only*/
.userId, .currentQuarter, .rater-name, .sign-in {
  display:none;
}
