<header class="main-header">
  <a href="#main-nav" class="open-menu">
    ☰
  </a>
  <a href="#" class="close-menu">
    ☰
  </a>
  <h3 class="logo"><%=image_tag 'lab.png', class:"logo"%> CHARACTER LABS</h3>
</header>